.summary {
    color: #808080; //grey
    border-left: 5px solid #374048; //red
    font-size:16px;
}


h3 {color: #ED1951; } //red or pink
h4 {color: #808080; } //grey

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #374048; //blue
    color: white;
}

.nav > li.active > a {
    background-color: #374048; //darker blue
}

.nav > li > a:hover {
    background-color: #374048; //blue
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #102f4c; //darker blue
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #374048; //blue
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345; //green
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #374048; //blue
    border-color: #102f4c; //dark blue
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0; //light grey
}

a.navbar-brand:hover {
  color: #f0f0f0; //light grey
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #374048; //blue
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #374048; //blue
    color: #ffffff; //white
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important; //teal
}

.btn-primary {
    color: #ffffff; //white
    background-color: #102f4c; //darker blue
    border-color: #102f4c; //darker blue
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #102f4c; //darker blue
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #374048; //blue
    border-color: #102f4c; //dark blue
}

.printTitle {
    color: #374048 !important; //blue
}

body.print h1 {color: #374048 !important; font-size:28px !important;} //blue
body.print h2 {color: #595959 !important; font-size:20px !important;} //dark grey
body.print h3 {color: #E50E51 !important; font-size:14px !important;} //red
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;} //pale blue

.anchorjs-link:hover {
    color: #102f4c; //darker blue
}

div.sidebarTitle {
    color: #374048; //blue
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #374048; //blue
}

.navbar-inverse .navbar-toggle {
    border-color: #374048; //blue
}
