.test {color: red; font-size:40px;}

/* change color of top nav bar*/

/*
.navbar-inverse {
background-color: #444;
border-color: #dedede;
}
*/

/* change sidebar nav parent sections */

/*
.nav > li.active > a {
background-color: turquoise;
}
*/