<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p>{% if site.company_url %}<a href="{{site.company_url}}" target=_blank>{% endif %}<img src="{% if site.company_logo %}{{site.company_logo}}{% else %}{{ "/images/company_logo.png" |  prepend: site.baseurl }}{% endif %}" alt="{{site.company_name}}"/>{% if site.company_url %}</a>{% endif %}</p>
                </div>
            </div>
</footer>