<!-- add all your links here -->

<!-- Here's a sample link. This stores the link as "sample_workflow" and correlates it to the permalink. To embed it, just use {{sample_workflow}}. If you ever need to change the page title or link, you can do so from here.-->

{% capture sample_workflow %}
{% for page in site.pages %}
  {% if page.permalink == '/sample_workflow/' %}
<a href="{{ "/sample_workflow" | prepend: site.baseurl }}">{{page.title}}</a>
{% break %}
  {% endif %}
{% endfor %}
{% endcapture %}
