{% if include.link.external_url %}
	<li>
		<a href="{{ include.link.external_url }}" target="_blank">
			{{ include.link.title }}
		</a>
	</li>
{% elsif include.link.url %}
	<li {% if page.url contains include.link.url %}class="active"{% endif %}>
		<a href="{{ include.link.url | prepend: site.baseurl }}">
			{{ include.link.title }}
		</a>
	</li>
{% elsif include.link.sub_items %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			{{ include.link.title }}<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			{% for entry in include.link.sub_items %}
				{% include nav_link.html link=entry %}
			{% endfor %}
		</ul>
	</li>
{% endif %}
