```ruby
  {% include {{ include.param }}.rb %}
```
<div markdown="span" class="alert alert-warning" role="alert">
  <i class="fa fa-bullhorn fa-2x"></i>
  &nbsp; &nbsp;
  <audio controls preload="meta">
    <source src="{{site.baseurl}}/audio/{{ include.param }}.mp3" type="audio/mpeg" >
      <a href="{{site.baseurl}}/audio/{{ include.param }}.mp3">{{site.baseurl}}/audio/{{ include.param }}.mp3</a>
  </audio>
  &nbsp; &nbsp;
  <i class="fa fa-download fa-2x"></i>
  &nbsp; &nbsp;
[ {{ include.param }}.rb](../cw_scripts/{{ include.param }}.rb)
  &nbsp; &nbsp;

</div><br/>
