<!-- Send feedback function -->
<script>
    function SendLinkByMail(href) {
        var subject= "{{site.title}} {{site.version}} documentation feedback";
        var body = "I have some feedback about the {{page.title}} page: ";
        body += window.location.href;
        body += "";
        var uri = "mailto:{{site.feedback_email}}?subject=";
        uri += encodeURIComponent(subject);
        uri += "&body=";
        uri += encodeURIComponent(body);
        window.location.href = uri;
    }
</script>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container topnavlinks">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="fa fa-home fa-lg navbar-brand" href="{{ "/index.html" | prepend: site.baseurl }}">&nbsp;<span class="projectTitle"> {{site.topnav_title}} {{site.topnav_version}}</span></a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <!-- entries without drop-downs appear here -->
      <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
      {% include custom/conditions.html %}

      {% for entry in topnav %}
        {% for subcategory in entry.subcategories %}
            {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
            {% if subcategory.external_url %}
                <li><a href="{{subcategory.external_url}}" target="_blank">{{subcategory.title}}</a></li>
            {% elsif page.url contains subcategory.url %}
                <li class="active"><a href="{{subcategory.url | prepend: site.baseurl | append: site.suffix}}">{{subcategory.title}}</a></li>
             {% else %}
                <li><a href="{{subcategory.url | prepend: site.baseurl | append: site.suffix}}">{{subcategory.title}}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% if site.feedback_email %}<li><a class="fa fa-envelope-o mailto" href="javascript:(function()%7BSendLinkByMail()%3B%7D)()%3B"> Feedback</a></li>{% endif %}


      <!-- entries with drop-downs appear here -->
      <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->


      {% for entry in topnav_dropdowns %}
        {% for subcategory in entry.subcategories %}
          {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ subcategory.title }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for subitem in subcategory.items %}
                  {% if subitem.audience contains audience and subitem.product contains product and subitem.platform contains platform and subitem.version contains version and subitem.web != false% %}
                    {% if subitem.external_url %}
                      <li><a href="{{subitem.external_url}}" target="_blank">{{subitem.title}}</a></li>
                    {% elsif page.url contains subitem.url %}
                      <li class="dropdownActive"><a href="{{subitem.url | prepend: site.baseurl | append: site.suffix}}">{{subitem.title}}</a></li>
                    {% else %}
                     <li><a href="{{subitem.url | prepend: site.baseurl | append: site.suffix}}">{{subitem.title}}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
         </ul>
      </li>
        {% endfor %}
      {% endfor %}
      <li>
         <!-- start search -->
         <div id="search-demo-container">
            <input type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text}}">
            <ul id="results-container"></ul>
         </div>
         <script src="{{ site.baseurl }}/js/jekyll-search.js" type="text/javascript"></script>
         <script type="text/javascript">
            SimpleJekyllSearch.init({
              searchInput: document.getElementById('search-input'),
              resultsContainer: document.getElementById('results-container'),
              dataSource: '{{site.baseurl}}/search.json',
              searchResultTemplate: '<li><a href="{url}{{site.suffix}}" title="{{page.title}}">{title}</a></li>',
              noResultsText: '{{site.data.strings.search_no_results_text}}',
              limit: 10,
              fuzzy: true,
            })
         </script>
         <!-- end search -->
      </li>
    

   </div>
   <!-- /.container -->
</nav>