{% capture hello %}
Hello sir, how is your day???

{% endcapture %}


{% assign version = "5.2" %}

{% assign mondaywarning = "This is not to be used on a Monday" %}

{% capture overview %}<a href={{ '/overview' | prepend: site.baseurl }}>Overview</a>{% endcapture %}

{% assign sec = "south eastern conference" %}


{% capture zebra %}<a href={{ '/overview' | prepend: site.baseurl }}>Zebra</a>{% endcapture %}


{% capture demo %}
{% for page in site.pages %}
  {% if page.id == 123 %}
[{{ page.title }}]({{ page.url | prepend: site.baseurl }})
{% break %}
  {% endif %}
{% endfor %}
{% endcapture %}



{% capture sample_workflow %}
{% for page in site.pages %}
  {% if page.permalink == '/sample_workflow/' %}
<a href="{{ "/sample_workflow" | prepend: site.baseurl }}">{{page.title}}</a>
{% break %}
  {% endif %}
{% endfor %}
{% endcapture %}







