
{% comment %}<!-- OVERVIEW -->{% endcomment %}
{% capture overview %}<a href="{{"/overview" | prepend: site.baseurl}}/index.html">Overview</a>{% endcapture %}
{% capture access %}<a href="{{"/access" | prepend: site.baseurl}}/index.html">Access</a>{% endcapture %}
{% capture changepassword %}<a href="{{"/changepassword" | prepend: site.baseurl}}/index.html">Change Password</a>{% endcapture %}
{% capture architecture%}<a href="{{"/architecture" | prepend: site.baseurl}}/index.html">Architecture</a>{% endcapture %}
{% capture performance %}<a href="{{"/performance" | prepend: site.baseurl}}/index.html">Performance</a>{% endcapture %}
{% capture deployment_process_overview %}<a href="{{"/deployment_process_overview" | prepend: site.baseurl}}/index.html">Deployment Process Overview </a>{% endcapture %}
{% capture delivery_models %}<a href="{{"/delivery_models" | prepend: site.baseurl}}/index.html">Delivery Models</a>{% endcapture %}



{% comment %}<!-- TOP NAV -->{% endcomment %}

{% capture faq %}<a href="{{"/faq" | prepend: site.baseurl}}/index.html">FAQ</a>{% endcapture %}
{% capture glossary %}<a href="{{"/glossary" | prepend: site.baseurl}}/index.html">Glossary</a>{% endcapture %}


{% comment %}<!-- MANAGE USERS AND CUSTOMERS-->{% endcomment %}
{% capture managing_users %}<a href="{{"/managing_users" | prepend: site.baseurl}}/index.html">Managing Users</a>{% endcapture %}
{% capture managing_customers %}<a href="{{"/managing_customers" | prepend: site.baseurl}}/index.html">Managing Customers</a>{% endcapture %}

{% comment %}<!-- FULL DI SETUP -->{% endcomment %}
{% capture workflow_setup_full %}<a href="{{"/workflow_setup_full" | prepend: site.baseurl}}/index.html">Workflow for Setting Up DI Cloud</a>{% endcapture %}
{% capture configure_clientjs %}<a href="{{"/configure_clientjs" | prepend: site.baseurl}}/index.html">1. Configure Settings on the client.js Tab</a>{% endcapture %}
{% capture configure_recipes %}<a href="{{"/configure_recipes" | prepend: site.baseurl}}/index.html">2. Configure the DeviceInsight Recipes</a>{% endcapture %}
{% capture copy_installation_scripts %}<a href="{{"/copy_installation_scripts" | prepend: site.baseurl}}/index.html">3. Copy the Installation Scripts</a>{% endcapture %}


{% comment %}<!-- JSC HOST ONLY SETUP -->{% endcomment %}
{% capture setup_jsc_only %}<a href="{{"/setup_jsc_only" | prepend: site.baseurl}}/index.html">Setting Up JSC Hosting Only</a>{% endcapture %}

{% capture workflow_jsc %}<a href="{{"/workflow_jsc" | prepend: site.baseurl}}/index.html">Workflow for JSC Hosting Only</a>{% endcapture %}


{% comment %}<!-- LOGS -->{% endcomment %}

{% capture viewing_logs %}<a href="{{"/viewing_logs" | prepend: site.baseurl}}/index.html">Viewing Logs</a>{% endcapture %}

