{% capture basketball %}{% for page in site.tooltips %}{% if page.id == "basketball" %}{{page.content}}{% endif %}{% endfor %}{% endcapture %}

{% capture baseball %}{% for page in site.tooltips %}{% if page.id == "baseball" %}{{page.content}}{% endif %}{% endfor %}{% endcapture %}

{% capture football %}{% for page in site.tooltips %}{% if page.id == "football" %}{{page.content}}{% endif %}{% endfor %}{% endcapture %}

{% capture soccer %}{% for page in site.tooltips %}{% if page.id == "soccer" %}{{page.content}}{% endif %}{% endfor %}{% endcapture %}
