<!DOCTYPE html>
<html lang="en">
<html>
  <head>
 {% include head.html %}

<link rel="stylesheet" href="{{ "/css/customstyles.css" | prepend:site.baseurl }}"  type='text/css'>

    <link rel="stylesheet" href="{{ "/css/printstyles.css" | prepend:site.baseurl }}"  type='text/css'>

{% if site.audience == "fe" %}
      <link rel="stylesheet" href="{{ "/css/print-header-fe.css" | prepend:site.baseurl }}"  type='text/css'>
{% elsif site.audience == "customer" %}
      <link rel="stylesheet" href="{{ "/css/print-header-customer.css" | prepend:site.baseurl }}"  type='text/css'>

{% elsif site.audience == "sales" %}
      <link rel="stylesheet" href="{{ "/css/print-header-sales.css" | prepend:site.baseurl }}"  type='text/css'>
      {% endif %}

  </head>

<body class="print">

    <!-- Page Content -->
    <div class="container">
            <!-- Content Column -->
            <div class="col-md-9">

                {{content}}
            </div>

        <hr>

    </div>    <!-- /.container -->

</body>

</html>

