<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-step{max-width: 35px; width: 35px; text-align: center}
.tg .tg-status{max-width: 40px; width: 40px;}
.tg pre {margin: 0}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l tg-step">#</th>
    <th class="tg-yw4l">Utilisateur</th>
    <th class="tg-yw4l">Action</th>
    <th class="tg-yw4l tg-status">Etat</th>
  </tr>